<ion-view>
  <ion-content has-bouncing="true">
    <div class="content-description">
      <div class="padding" style="background: #111">
        <div class="col-50 col-offset-25" style="text-align: center">
          <img src="img/datoni.png">
        </div>
      </div>
    </div>
    <div class="padding">
      <div class="list card">
        <div class="item item-divider">Über unsere App</div>
        <div class="item item-body">
          <div>
            Mit der original <strong>Da Toni App</strong> kannst Du bequem von überall aus Deine Lieblingspizza bestellen. 
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">Wie funktioniert das Bestellen?</div>
        <div class="item item-body">
          <div>
            Um eine Bestellung aufzugeben kannst Du Dir unter <a ui-sref="tab.menu.list" class="assertive">Speisekarte</a> nach Belieben u.a. Pizzen, Nudeln und Salate aussuchen und zum Warenkorb hinzufügen. 
            Im Warenkorb hast Du die Möglichkeit, die Größen & Anzahl deiner Pizzen zu verändern.
            Mit einem Klick auf 'Bestellen' werden wir Deine Bestellung bearbeiten. 
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Wie funktioniert die Bezahlung?</div>
        <div class="item item-body">
          <div>
            Wir bieten in der aktuellen Version der App keine Möglichkeiten an, um Bestellungen aus der App heraus zu bezahlen. <br/>
            Mit der Nutzung unserer App fallen für Dich keine weiteren Kosten an, die Bezahlung verläuft wie gewohnt beim Empfang deiner Bestellung durch einen unserer Lieferanten oder in unserer Pizzeria, solltest du dich für das Abholen entscheiden.
          </div>
        </div>
      </div>
    </div>
   
  </ion-content>
</ion-view>
