<ion-view>
  <ion-header-bar align-title="center" class="bar-datoni">
    <div class="buttons">
    
    </div>
    <h1 class="title">Speisekarte</h1>
  </ion-header-bar>
<ion-content has-bouncing="true">

    <div class="menu-view">
      <div class="row">
        <div ui-sref="tab.menu.view({id: 1})" class="col col-50 menu-salad">
          <h2>Salate</h2>
          <p>Frische original italienische Salate.</p>
        </div>
        <div   ui-sref="tab.menu.view({id: 2})"  class="col col-50 menu-vorspeisen">
          <h2>Vorspeisen</h2>
          <p>Leckere Pizzabrote für den kleinen Hunger.</p>
        </div>
      </div>
    </div>

    <div class="menu-view">
      <div class="row">
        <div   ui-sref="tab.menu.view({id: 4})"  class="col col-50 menu-pizza-veg">
            <h2>Vegetarische Pizza</h2>
            <p>Ausgefallen leckere vegetarische Pizzen.</p>
        </div>
        <div  ui-sref="tab.menu.view({id: 3})"  class="col col-50 menu-pizza">
          <h2>Pizza</h2>
        <p>Im Steinofen gebacken, für den einzigartigen Da Toni Geschmack.</p>
        </div>
      </div>
    </div>

    <div class="menu-view">
      <div class="row">
        <div  ui-sref="tab.menu.view({id: 5})"  class="col col-50 menu-pasta">
          <h2>Nudelgerichte</h2>
        <p>Spaghetti, Tortellini, Rigatoni oder Gnocchi, hier ist für jeden was dabei.</p>
        </div>
        <div  ui-sref="tab.menu.view({id: 6})"  class="col col-50 menu-uberbacken">
            <h2>Überbackenes</h2>
        <p>Viele Gerichte mit Käse überbacken.</p>
        </div>
      </div>
    </div>


    <div class="menu-view">
      <div class="row">
        <div  ui-sref="tab.menu.view({id: 7})"  class="col col-50 menu-deutsche">
        <h2>Deutsche Küche</h2>
        <p>Schnitzel &amp; Kartoffelgerichte.</p>
        </div>
        <div  ui-sref="tab.menu.view({id: 8})"  class="col col-50 menu-desserts">
           <h2>Desserts</h2>
        <p>Lust auf ein Tiramisu?</p>
        </div>
      </div>
    </div>


    <div class="menu-view">
      <div class="row">
        <div  ui-sref="tab.menu.view({id: 9})" class="col col-50 menu-getraenke">
          <h2>Getr&auml;nke</h2>
          <p>Cola, Fanta, Sprite, Wasser, Wein.</p>
        </div>
    </div>

  </ion-content>
</ion-view>
