<ion-view>
    <ion-header-bar align-title="center" class="bar-datoni">
    <div class="buttons">
      <button class="button button-clear" ui-sref="tab.settings.frontview">
        <i class="icon ion-chevron-left"></i> Zurück
      </button>
    </div>
    <h1 class="title">Impressum</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true" class="settings-content">
      <div class="padding">
       <h3>Impressum</h3>
        <h4>Angaben gemäß § 5 TMG:</h4>
        <h5>Betreiber der Pizzeria Da Toni:</h5>
        <p>
          Surjeet Baranello
        
        </p><p>Telefon: +49 6434 90 99 40</p>
        <p>E-Mail surjeetbaranello@googlemail.com</p>
       <hr/>
        <h5>Entwicklung:</h5>
        <p>Pascal Raszyk<br />
        Daubornerstraße 3<br />
        65618 Selters<br/>
        Telefon: 015164418517<br/>
        E-Mail: posixpascal@googlemail.com
        <br/><br/><hr>
        <h4>Quellenangaben für die verwendeten Bilder und Grafiken:</h4>
        <p><a href="http://www.flaticon.com/categories/arrows" >http://www.flaticon.com/categories/arrows</a></p>
        <p>
        <a href="http://flickr.com" >http://flickr.com</a> (CC Lizenz)</p>
        <a href="http://ionicons.com" >http://ionicons.com</a> (CC Lizenz)</p>
        <p> </p>
        <p>Quelle: <em><a href="http://www.e-recht24.de">http://www.e-recht24.de</a></em></p>
        </div>
  </ion-content>
</ion-view>

