<ion-view>
  <ion-content has-bouncing="true" class="specials">
   		<div class="padding  subtle-text">
   			Schau täglich vorbei und sichere Dir unsere Sparangebote!<br/>
   			<h4 class="subtle-text">Derzeit ist es noch nicht möglich Angebote über unsere App zu bestellen, wende Dich hierfür bitte <a ng-click="callDatoni()">telefonisch an uns</a>.
   		</div>
	    <div class="list card">
	      <div class="item item-divider">Familienangebot</div>
	      <div class="item item-body">
	        <div>
	         	<ul class="list--special">
	         		<li><span class="amount">1x</span> Pizza (28 cm) nach Wahl</li>
	         		<li><span class="amount">1x</span> Salat Nr. 3 groß</li>
	         		<li><span class="amount">1x</span> Nudelgericht nach Wahl</li>
	         		<li><span class="amount">1x</span> 1L Cola</li>
	         	</ul>
	        </div>
	        <div class="price--special">Preis: 20€</div>
	      </div>
	    </div>
	    <div class="list card">
	      <div class="item item-divider">Single Angebot</div>
	      <div class="item item-body">
	        <div>
	        	<ul class="list--special">
	         		<li><span class="amount">1x</span> Pizza (28 cm) nach Wahl</li>
	         		<li><span class="amount">1x</span> Salat Nr. 2</li>
	         		<li><span class="amount">1x</span> Dose Coca Cola</li>
	         	</ul>
	        </div>
	        <div class="price--special">Preis: 10€</div>
	      </div>
	    </div>
	    <div class="list card">
	      <div class="item item-divider">Salat Angebot</div>
	      <div class="item item-body">
	        <div>
		        <ul class="list--special">
		        	<li><span class="amount">2x</span> Salate nach Wahl</li>
		        	<li><span class="amount">1x</span> Pizzabrot</li>
		        </ul>
	        </div>
	        <div class="price--special">Preis: 12.50€</div>
	      </div>
	    </div>
	   
  </ion-content>
</ion-view>
