<ion-tabs class="datoni-tabs tabs-icon-top tabs-color-active-assertive">
  <ion-tab title="Speisekarte" badge-style="badge-assertive" icon-off="ion-pizza" badge="badges.menu" icon-on="ion-pizza" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab -->
 <ion-tab title="Warenkorb" badge="badge.cart" badge-style="badge-assertive" icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>
</ion-tabs>
